@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
body {
    line-height: 24px;
    text-space: 0.2em;
}

.masthead {
    position: relative;
    width: 100%;
    background-color: #111;
    height: 240px;
    overflow: hidden;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    margin:0;
    padding: 0;
    top:0;
    left:0;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
}

img.post-img {
    float: left;
    border-radius: 50% 50%;
    margin: 12px 0 0 -240px;
    height: 200px;
    width: 200px;
}

h1 {
    line-height: 48px;
    font-size: 36px;
    text-transform: uppercase;
    margin: 36px 0 12px;
    color: #aa5a00;
}

h2 {
    font-size: 24px;
    font-weight: 100;
    line-height: 24px;
    color: #aa5a00;
    margin: 24px 0;
}

h3, h4, h5, h6 {
    margin: 24px 0;
    font-weight: 100;
    line-height: 24px;
    color: #aa5a00;
}

p {
    margin: 0 0 24px;
    text-align: justify;
    color: #555;
    font-family: 'Libre Baskerville', serif;
}

p.slogan {
    font-size: 80px;
    color: #fff;
    line-height: 240px;
}

hr {
    border: none;
    border: 1px dotted #aa5a00;
    margin: -2px 0 0;
}
rect {
    fill: none;
    pointer-events: all;
}

circle {
    fill: none;
    stroke-width: 2.5px;
}

#statementOfPurposeText {
    text-color: lightgrey;
}