.p-website-outline
  h1.p-website-outline__title
    |Social Media
  .p-website-outline__links
    a(href="https://github.com/Sulstice", target="_blank").p-website-outline__link
      +iconGitHub(54)
    a(href="https://twitter.com/SulimanSharif6", target="_blank").p-website-outline__link
      +iconTwitter(54)
    a(href="mailto:sharifsuliman1@gmail.com").p-website-outline__link
      +iconMail(54)
